

    html {
    font-family: 'Optima', sans-serif;
    }

    body {
    background-color: whitesmoke;
    color: black;
    }

    .heading-1{
        text-align: center;
    }

    .header{
        display: flex;
        flex-direction: row;
        height: 12vh;
        width: 100%;
        color: black;
        font-family: 'Gloock', serif;
        font-size: 20px;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
    }

    .header-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
    }

    #homebtn{
        background: none;
        outline: none;
        border: none;
      }

      #homebtn:hover{
        color: #DEECFC;
      }

      #aboutmebtn{
        background: #EFF7FF;
        outline: none;
        border: none;
        border-radius: 20px;
      }

      #boogiebtn:hover{
        color: #DEECFC;
      }

      #boogiebtn{
        background: none;
        outline: none;
        border: none;
      }

      #contactbtn{
        background: none;
        outline: none;
        border: none;
      }

      #contactbtn:hover{
        color: #DEECFC;
      }

      .kaisa{
        padding-top: 50px;
      }

      .pic{
        height: 400px;
        width: 700px;
        max-width: 100%;
        height: auto;
      }
    
    .intro-text{
        text-align: justify;
        text-justify: inter-word;

    }


    @media only screen and (min-width: 768px) {
      .first-pic {
          order: 1;
      }
      .intro-text {
          order: 2;
      }
  }

  @media only screen and (min-width: 992px) {
      .col-1 {
          flex: 0 0 10%;
      }
      .first-pic {
          flex: 0 0 50%;
      }
      .intro-text {
          flex: 0 0 40%;
      }
    }

    

