
    body {
    background-color: whitesmoke;
    color: black;
    }

  
    

      
      .kaisa {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
      }
      
      .first-pic {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
        text-align: center;
      }
      
      .pic {
        width: 100%;
        height: auto; 
        opacity: 0.8;
      }
      
      .intro-text {
        text-align: justify;
        text-justify: inter-word;
        font-family: 'Inter', sans-serif;
        font-size: 16;
        font-family: 'Inter', sans-serifpx;
        padding: 20px;
        margin-right: 65px;
        flex: 1;
      }
      
      .intro-text-container {
        
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      @media (max-width: 768px) {
        .kaisa {
          flex-direction: column-reverse;
          align-items: safe;
          width: 200%;
          margin-left: 50px;
          
        }
      
        .pic {
          height: 300px;
          margin-bottom: 20px;
        }

      }
      
      
      
    .Kaisa-Arumeel{
      font-family: 'Inter', sans-serif;
      padding-bottom: 20px;
      font-weight: 400;
      text-align: center;
    }

    .middle{
      display: flex;
      flex-direction: row;
    }


    .skills{
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        margin: 10px;
    }

  .education{
      text-align: center;
      text-justify: inter-word;
      font-family: 'Inter', sans-serif;
      background-color: rgb(247, 247, 247);
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -30px;
      margin-bottom: -80px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  }

  .education-title{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
  }

  .school{
    font-size: 20px;
    font-weight: 500;
    padding-top: 25px;
  }

  .skills-title{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    padding-top: 40px;
  }

  .languages-title{
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
  }
  
  .languages{
    text-align: center;
    padding-bottom: 40px;
  }



.honours-title{
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
}


.bottom {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.second-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.bed-pic {
  width: 400px;
  margin-top: 50px;
  padding: 20px;
  opacity: 0.9;
}

.honours {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 20px;
  flex: 1;
  background-color: #EFF7FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 160%;
    margin-left: 50px;
    
  }

  .bed-pic {
    height: 400px;
    margin-left: 60px;
  }

}



  
  




