.header{
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    justify-content: center;
    justify-content: space-around;
    overflow: hidden;
}

.header-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

#homebtn{
    background: none;
    outline: none;
    border: none;
  }

  #homebtn:hover{
    color: #DEECFC;
  }

  #boogiebtn{
    background: #EFF7FF;
    outline: none;
    border: none;
    border-radius: 20px;
  }

  #contactbtn{
    background: none;
    outline: none;
    border: none;
  }
  #contactbtn:hover{
    color: #DEECFC;
  }



  #aboutmebtn{
    background: none;
    outline: none;
    border: none;
  }

  #aboutmebtn:hover{
    color: #DEECFC;
  }


  .buttonsx{
    padding-top: 50px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  }
  
  .buttons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  
  .buttons > div:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black
  }
  
  #softwarebtn {
    background:none;
    outline: none;
    border: none;
    color: black;
  }
  
  #personalbtn {
    background: none;
    outline: none;
    border: none;
    color: #bfddfa;
  }

  #personalbtn:hover{
    color: black;
  }
  
  .snake-header, .kiwave-header{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 110;
    text-align: end; 
    padding-bottom: 10px;
  }

  .snake-pic-container, .kiwave-pic-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .snake-pic{
    width: 220px;
    height: 220px;
  }

  .kiwave-pic{
    height: 80px;
  }

  .project{
    padding-top: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }

  .project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #EFF7FF;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .testing{
    padding-top: 5%;
    justify-content:center;
    display: flex;
    flex-direction: row;

  }

  .snake-text, .kiwave-text{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 50px;
  }

  .snake-link, .kiwave-link{
    color: inherit;
    font-weight: 600;
  }
 





  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 50px;
  }