.header{
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
    color: black;
    font-family: 'Gloock', serif;
    font-size: 20px;
    justify-content: center;
    justify-content: space-around;
    overflow: hidden;
}

.header-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

#homebtn{
    background: none;
    outline: none;
    border: none;
  }

  #homebtn:hover{
    color: #DEECFC;
  }

  #boogiebtn{
    background: #EFF7FF;
    outline: none;
    border: none;
    border-radius: 20px;
  }

  #contactbtn{
    background: none;
    outline: none;
    border: none;
  }
  #contactbtn:hover{
    color: #DEECFC;
  }



  #aboutmebtn{
    background: none;
    outline: none;
    border: none;
  }

  #aboutmebtn:hover{
    color: #DEECFC;
  }


  .buttonsx{
    padding-top: 50px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }
  
  .buttons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  
  .buttons > div:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black
  }
  
  #softwarebtn {
    background:none;
    outline: none;
    border: none;
    color: black;
  }
  
  #personalbtn {
    background: none;
    outline: none;
    border: none;
    color: #bfddfa;
  }

  #personalbtn:hover{
    color: black;
  }
  
  .snake-header{
    font-family: 'Gloock', serif;
    font-size: 30px;
    text-align: end; 
    padding-bottom: 10px;
  }

  .snake-pic-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }

  .snake-pic{
    width: 220px;
    height: 220px;
  }

  .snake-game{
    padding-top: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }

  .project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #EFF7FF;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .testing{
    padding-top: 5%;
    justify-content:center;
    display: flex;
    flex-direction: row;

  }

  .snake-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 50px;
  }
  .snake-link{
    color: inherit;
    font-weight: 600;
  }
  .snake-game button{
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    position: relative;
    width: 50px; 
    height: 50px;
  }
  .snake-button{
    text-align: center;
  }

  .snake-game button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform 0.2s ease-in-out;
  }

  .snake-game .snake-pic::after{
    align-self: flex-start;
  }
  
  .snake-game .snake-pic::before{
    content: "";
    display: block;
    padding-top: 10%;
  }
  
  .snake-game .snake-pic.open::before{
    padding-top: 10%;
  }
  
  .snake-game button.open::before {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  
  .used-technologies{
    font-weight:600;
  }

  #more{
    display: none;
  }
  





  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
  }