
        html {
            font-family: 'Optima', sans-serif;
            
        }

        body {
            color: black;
            margin: 0;
			padding: 0;
        }

        .home-page-container{
            height: 100vh;
        }

       .home-page-container::before{
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../assets/kaisa-web-37.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            opacity: 0.7; /* Change this value to adjust opacity */
            z-index: -1;
        }
    


        .menu-on-home-page{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .menu-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        .hamburger{
            position:relative;
            display: block;
            width: 60px;
            height: 45px;
            appearance: none;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 10px 15px;
            margin: 20px;
        }
        
        .hamburger .bar {
            display: block;
            width: 40px;
            height: 3px;
            border-radius: 1px;
            background-color: black;
            margin: 4px 0;
            transition: transform 0.6s;
        }

        .hamburger:hover .bar:first-child {
            width: 40px;
            transform: translate(-18%, 0px);
          }
          
          
          .hamburger:hover .bar:last-child {
            width: 40px;
            left: auto;
            right: 0;
            transform: translate(18%, 0)
          }


          .sidebar{
            width: 0;
            height: 100vh;
            background-color: rgb(247, 247, 247);
            opacity: 0.8;
            top: 0;
            right: 0;
            position: fixed;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
          }

          .sidebar-item{
            text-decoration: none;
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
            display: flex;
            padding: 2em;
            cursor: pointer;
            align-items: center;
            flex-direction: column;
            opacity: 1;
          }


          .sidebar-item:hover{
            background-color: #d4d7dc;
            opacity: 0.8;
          }

          .overlay{
            width: 55vh;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 45vh;
            z-index: 1;
          }

          #aboutme{
            background: none;
            outline: none;
            border: none;
            color: black;
            opacity: 1;
          }

          #contact{
            background: none;
            outline: none;
            border: none;
            color: black;
          }

          #boogiebtn{
            background: none;
            outline: none;
            border: none;
            color: black;
          }


          .kaisa-text {
            font-family: 'Gloock', serif;
            font-size: 70px;
            height: 90%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            color: black;
            opacity: 0.6;
          }
          
          .drop-letter {
            position: relative;
            top: -200px; /* Set initial position */
            animation: dropk 1.2s ease-out forwards;
          }
          
          .drop-a{
            position: relative;
            top: 100px;
            animation: dropa 1.2s ease-out forwards;
          }
          @keyframes dropa {
            0% {
            }
            100% {
              top: 0; /* Set final position */
            }
          }

          @keyframes dropk {
            0% {
            }
            100% {
              top: 0px; /* Set final position */
            }
          }

          .arumeel-text {
            font-family: 'Gloock', serif;
            font-size: 70px;
            height: 110%;
            width: 110%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            color: black;
            opacity: 0.6;
          }
          
          
          
          



    
 

    


          

          
          


          



            